#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Impact
}
#BtnSaves{
    text-align: center;
}
.buttons{
    padding: 30px 50px;
    font-family: Verdana;
    font-size: 2em;
    color: black;
    background-color:rgb(11, 202, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(9, 149, 188)
}